<!DOCTYPE HTML> 
<html>     
    <head>         
        <title> Приветствие </title>          
    </head> 
    <body>
        {% if name == "" %}
            <p>
                Введите имя, пожалуйста!
            </p>
        {% else %}     
            <p>        
                Привет, 
                {% if gender == "m" %}          
                    студент        
                {% elif gender == "w" %}           
                    студентка        
                {% endif %} 
                {{name}}!     
            </p> 
            <p>
                Ваша образовательная программа: {{program}}. 
            </p>
            {% if len(subjects_select) == 0 %}
                <p>
                    Вы не изучаете никаких дисциплин
                </p>
            {% else %}
                <p>       
                    Вы изучаете дисциплины:
                    {% for sub in subjects_select %}          
                        <a href={{ url_for('subject', sub=sub) }}> {{sub}}</a>,        
                    {% endfor %}      
                </p>

            {% endif %}
        {% endif %}
    </body>    
</html>