{% macro render_table(table_name, relation) %}
    <div> 
        <p>        
            <b>{{table_name}} </b>     
        </p>       
        {% set n = relation| length %}    
        <table>               
            <tr>         
                {% for name in relation.dtypes.index %}             
                <th>{{name}}</th>         
                {% endfor %}         
            </tr>            

            <tbody>             
                {% for i in range(n) %}                
                <tr>                      
                    {% for name in relation.dtypes.index %}               
                    <td>
                        {% if relation.loc[i, name] != None %}
                            {{ relation.loc[i, name] }} 
                        {% else %}
                            <input type="submit" value="Сдать"> 
                        {% endif %}
                    </td>            
                    {% endfor %}          
                </tr>         
                {% endfor %}         
            </tbody>          
        </table>
    </div>
{% endmacro %}

{% macro create_select(combo_box, reader_id) %}
    <select name="reader">         
        {% set n = combo_box| length %}         
        {% for i in range(n) %}            
            {% set id_r = combo_box.loc[i, "reader_id"] %}                         
            {% if id_r == reader_id %}                              
                <option selected value={{id_r}}>             
            {% else %}                
                <option  value={{id_r}}>             
            {% endif %}                            
            {{ combo_box.loc[i, "reader_name"] }}              
            </option>         
        {% endfor %}           
    </select>            
{% endmacro %}